@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MENÚ DE OPCIONES</h1>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col">

                <ul class="menu">
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Listar Clientes</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Crear">Registrar Cliente</a>
                    </li>
                </ul>

        </div>
    </div>
</div>